<template>
	<v-app dark>
		<v-navigation-drawer
			v-model="drawer"
			:clipped="false"
			fixed
			app
		>
			<v-list-item>
				<v-list-item-content>
					<v-list-item-title class="title">
						Главное меню
					</v-list-item-title>
				</v-list-item-content>
			</v-list-item>

			<v-divider></v-divider>
			<v-list>
				<v-list-item
					v-for="(item, i) in items"
					:key="i"
					:to="item.to"
					router
					exact
				>
					<v-list-item-action>
						<v-icon>{{ item.icon }}</v-icon>
					</v-list-item-action>
					<v-list-item-content>
						<v-list-item-title v-text="item.title"/>
					</v-list-item-content>
				</v-list-item>
			</v-list>
		</v-navigation-drawer>
		<v-app-bar
			fixed
			app
		>
			<v-app-bar-nav-icon @click.stop="drawer = !drawer"/>
			<v-toolbar-title v-text="title"/>
			<v-spacer/>
		</v-app-bar>
		<v-main>
			<v-container>
				<nuxt/>
			</v-container>
		</v-main>

		<v-footer
			app
			class="d-none d-sm-flex"
		>

			<v-row
				justify="start"
				no-gutters
				align="center"
			>
				<v-col
					md="4"
				>
					{{ new Date().getFullYear() }} — <strong>Улыбочку!</strong>
				</v-col>
				<v-col
					class="text-center text-h5"
					md="4"
				>
					&#8226;&#8722;&#8226;&#32;&#8226;&#32;&#8226;&#8722;&#8722;&#8722;&#32;&#8226;&#32;&#8722;&#8226;&#8226;&#32;&#8226;&#8722;&#32;&#8226;&#8226;
				</v-col>
			</v-row>
		</v-footer>
	</v-app>
</template>

<script>
export default {
	data() {
		return {
			drawer: !this.$vuetify.breakpoint.xs,
			items: [
				{
					icon: 'mdi-currency-usd',
					title: 'Цены на фото',
					to: '/'
				},
				{
					icon: 'mdi-tape-drive',
					title: 'Хранилище',
					to: '/drive'
				},
				{
					icon: 'mdi-dots-vertical-circle',
					title: 'Настройка меню',
					to: '/menu'
				}
			],
			right: true,
			rightDrawer: false,
			title: 'Улыбочку!'
		}
	}
}
</script>
