<template>
	<v-app>
		<v-main>
			<v-container fluid class="wrapper">
				<v-row>
					<v-col>
						<div class="list">
							<drag v-for="n in [1,2,3,4,5]" :data="n" class="item" :key="n">{{n}}</drag>
						</div>
					</v-col>

					<div>
						<drop-list
							:items="items"
							class="list"
							@insert="onInsert"
							@reorder="$event.apply(items)"
						>
							<template v-slot:item="{item}">
								<drag class="item" :key="item">{{item}}</drag>
							</template>
							<template v-slot:feedback="{data}">
								<div class="item feedback" :key="data">{{data}}</div>
							</template>
						</drop-list>
					</div>

				</v-row>
			</v-container>
		</v-main>
	</v-app>
</template>

<script lang="ts">
import { Drag, DropList } from "vue-easy-dnd"
import { computed, defineComponent, ref } from '@nuxtjs/composition-api'

export default defineComponent ({
	name: "App",
	components: {
		Drag,
		DropList
	},
	setup() {
		const items = ref(['a', 'b', 'c', 'd', 'e'])

		const onInsert = (event: any) => {
			items.value.splice(event.index, 0, event.data);
		}

		return {
			items,
			onInsert
		}
	}
})
</script>

<style scoped lang="scss">
.wrapper {
	.list {
		border: 1px solid black;
		margin: 0px auto;

		.item {
			padding: 20px;
			margin: 10px;

			align-items: center;
			justify-content: center;

			&.feedback {
				background-color: rgb(255, 220, 220);
				border: 2px dashed black;
			}

			&.drag-image {
				background-color: rgb(220, 255, 220);
				transform: translate(-50%, -50%);
			}
		}
	}
}
</style>
