<template>
	<v-app>
			<v-container fluid class="wrapper">
				<div class="d-flex flex-column" v-if="editor">
					<div class="d-flex justify-space-between">
						<v-text-field
							label="Название"
							class="m-2"
							v-model="ru_name"
							required
						></v-text-field>
					</div>

					<div class="d-flex justify-space-between">
						<v-btn
							@click="router.go(-1)"
						>
							Назад
						</v-btn>
						<v-btn
							@click="listCheck"
							color="green darken-4"
							v-show="editor.can().undo() || loadedItem.name_ru !== ru_name"
						>
							Сохранить
						</v-btn>
					</div>

					<div id="editor-toolbar" class="mt-2 d-flex flex-wrap">
						<div class="pa-1 v-item-group theme--dark v-btn-toggle v-btn-toggle--dense">
<!--							<div >-->
								<v-btn
									@click="editor.chain().focus().undo().run()"  :class="{ 'v-btn--active': editor.isActive('bold') }"
									:disabled="!editor.can().undo()"
									tile
								>
									<v-icon>mdi-undo</v-icon>
								</v-btn>
								<v-btn
									@click="editor.chain().focus().redo().run()"  :class="{ 'v-btn--active': editor.isActive('bold') }"
									:disabled="!editor.can().redo()"
									tile
								>
									<v-icon>mdi-redo</v-icon>
								</v-btn>
<!--							</div>-->
						</div>
						<div class="pa-1 v-item-group theme--dark v-btn-toggle v-btn-toggle--dense">
							<v-btn
								@click="editor.chain().focus().toggleBold().run()"  :class="{ 'v-btn--active': editor.isActive('bold') }"
							>
								<v-icon>mdi-format-bold</v-icon>
							</v-btn>
							<v-btn
								@click="editor.chain().focus().toggleItalic().run()"  :class="{ 'v-btn--active': editor.isActive('italic') }"
							>
								<v-icon>mdi-format-italic</v-icon>
							</v-btn>
							<v-btn
								@click="editor.chain().focus().toggleStrike().run()"  :class="{ 'v-btn--active': editor.isActive('strike') }"
							>
								<v-icon>mdi-format-strikethrough</v-icon>
							</v-btn>
						</div>
						<div class="pa-1 v-item-group theme--dark v-btn-toggle v-btn-toggle--dense">
							<v-btn
								@click="editor.chain().focus().toggleCode().run()"  :class="{ 'v-btn--active': editor.isActive('code') }"
							>
								<v-icon>mdi-code-tags</v-icon>
							</v-btn>
						</div>
						<div class="pa-1 v-item-group theme--dark v-btn-toggle v-btn-toggle--dense">
							<v-btn
								@click="editor.chain().focus().clearNodes().run();editor.chain().focus().unsetAllMarks().run()"
							>
								<v-icon>mdi-format-clear</v-icon>
							</v-btn>
						</div>
						<div class="pa-1 v-item-group theme--dark v-btn-toggle v-btn-toggle--dense">
							<v-btn
								@click="editor.chain().focus().setParagraph().run()"
								:class="{ 'v-btn--active': editor.isActive('paragraph') }"
							>
								<v-icon>mdi-format-paragraph</v-icon>
							</v-btn>
							<v-btn
								@click="editor.chain().focus().toggleHeading({ level: 1 }).run()"
								:class="{ 'v-btn--active': editor.isActive('heading', { level: 1 }) }"
							>
								<v-icon>mdi-format-header-1</v-icon>
							</v-btn>
							<v-btn
								@click="editor.chain().focus().toggleHeading({ level: 2 }).run()"
								:class="{ 'v-btn--active': editor.isActive('heading', { level: 2 }) }"
							>
								<v-icon>mdi-format-header-2</v-icon>
							</v-btn>
							<v-btn
								@click="editor.chain().focus().toggleHeading({ level: 3 }).run()"
								:class="{ 'v-btn--active': editor.isActive('heading', { level: 3 }) }"
							>
								<v-icon>mdi-format-header-3</v-icon>
							</v-btn>
							<v-btn
								@click="editor.chain().focus().toggleHeading({ level: 4 }).run()"
								:class="{ 'v-btn--active': editor.isActive('heading', { level: 4 }) }"
							>
								<v-icon>mdi-format-header-4</v-icon>
							</v-btn>
						</div>
						<div class="pa-1 v-item-group theme--dark v-btn-toggle v-btn-toggle--dense">
							<v-btn
								@click="editor.chain().focus().toggleBulletList().run()"
								:class="{ 'v-btn--active': editor.isActive('bulletList') }"
							>
								<v-icon>mdi-format-list-bulleted</v-icon>
							</v-btn>
							<v-btn
								@click="editor.chain().focus().toggleOrderedList().run()"
								:class="{ 'v-btn--active': editor.isActive('orderedList') }"
							>
								<v-icon>mdi-format-list-numbered</v-icon>
							</v-btn>
						</div>
						<div class="pa-1 v-item-group theme--dark v-btn-toggle v-btn-toggle--dense">
							<v-btn
								@click="editor.chain().focus().toggleCodeBlock().run()"
								:class="{ 'v-btn--active': editor.isActive('codeBlock') }"
							>
								<v-icon>mdi-code-braces</v-icon>
							</v-btn>
						</div>
						<div class="pa-1 v-item-group theme--dark v-btn-toggle v-btn-toggle--dense">
							<v-btn
								@click="editor.chain().focus().toggleBulletList().run()"
								:class="{ 'v-btn--active': editor.isActive('bulletList') }"
							>
								<v-icon>mdi-format-list-bulleted</v-icon>
							</v-btn>
							<v-btn
								@click="editor.chain().focus().toggleOrderedList().run()"
								:class="{ 'v-btn--active': editor.isActive('orderedList') }"
							>
								<v-icon>mdi-format-list-numbered</v-icon>
							</v-btn>
						</div>

						<!--	table   -->
						<div class="pa-1 v-item-group theme--dark v-btn-toggle v-btn-toggle--dense">
							<v-btn @click="editor.chain().focus().insertTable({ rows: 3, cols: 3, withHeaderRow: true }).run()">
								<v-icon>mdi-table-large-plus</v-icon>
							</v-btn>
						</div>
						<div class="pa-1 v-item-group theme--dark v-btn-toggle v-btn-toggle--dense">
							<v-btn @click="editor.chain().focus().addColumnBefore().run()"
										 v-show="editor.can().deleteTable()"
										 :disabled="!editor.can().addColumnBefore()">
								<v-icon>mdi-table-column-plus-before</v-icon>
							</v-btn>
							<v-btn @click="editor.chain().focus().addColumnAfter().run()"
										 v-show="editor.can().deleteTable()"
										 :disabled="!editor.can().addColumnAfter()">
								<v-icon>mdi-table-column-plus-after</v-icon>
							</v-btn>
							<v-btn @click="editor.chain().focus().deleteColumn().run()"
										 v-show="editor.can().deleteTable()"
										 :disabled="!editor.can().deleteColumn()">
								<v-icon>mdi-table-column-remove</v-icon>
							</v-btn>
							<v-btn @click="editor.chain().focus().addRowBefore().run()"
										 v-show="editor.can().deleteTable()"
										 :disabled="!editor.can().addRowBefore()">
								<v-icon>mdi-table-row-plus-before</v-icon>
							</v-btn>
							<v-btn @click="editor.chain().focus().addRowAfter().run()"
										 v-show="editor.can().deleteTable()"
										 :disabled="!editor.can().addRowAfter()">
								<v-icon>mdi-table-row-plus-after</v-icon>
							</v-btn>
							<v-btn @click="editor.chain().focus().deleteRow().run()"
										 v-show="editor.can().deleteTable()"
										 :disabled="!editor.can().deleteRow()">
								<v-icon>mdi-table-row-remove</v-icon>
							</v-btn>
							<v-btn @click="editor.chain().focus().deleteTable().run()"
										 v-show="editor.can().deleteTable()"
										 :disabled="!editor.can().deleteTable()">
								<v-icon>mdi-table-large-remove</v-icon>
							</v-btn>
							<v-btn @click="editor.chain().focus().mergeCells().run()"
										 v-show="editor.can().deleteTable()"
										 :disabled="!editor.can().mergeCells()">
								<v-icon>mdi-table-merge-cells</v-icon>
							</v-btn>
							<v-btn @click="editor.chain().focus().splitCell().run()"
										 v-show="editor.can().deleteTable()"
										 :disabled="!editor.can().splitCell()">
								<v-icon>mdi-table-split-cell</v-icon>
							</v-btn>
							<v-btn @click="editor.chain().focus().toggleHeaderCell().run()"
										 v-show="editor.can().deleteTable()"
										 :disabled="!editor.can().toggleHeaderCell()">
								<v-icon>mdi-format-header-pound</v-icon>
							</v-btn>
						</div>
						</div>
					<div class="pt-6 d-flex flex-wrap justify-center">
						<v-sheet dark width="1000" elevation="4"
										 class="overflow-y-auto"
										 style="max-height: 75vh">
							<editor-content
								class="pa-4"
								:editor="editor" v-on:blur="listCheck"></editor-content>
						</v-sheet>
					</div>

					<input style="height: 0; width: 0; overflow: hidden;" placeholder="first name">
				</div>
				<v-snackbar
					v-model="notificationSnackbar"
					:timeout="notificationTimeout"
					color="green"
				>
					{{ notificationText }}

					<template v-slot:action="{ attrs }">
						<v-btn
							color="white"
							text
							v-bind="attrs"
							@click="notificationSnackbar = false"
						>
							Закрыть
						</v-btn>
					</template>
				</v-snackbar>
			</v-container>
	</v-app>
</template>

<script lang="ts">
import {Drag, DropList} from "vue-easy-dnd"
import {defineComponent, onMounted, ref, reactive, useContext, useRouter, useRoute, watch } from '@nuxtjs/composition-api'
import {Editor, EditorContent } from '@tiptap/vue-2'
import Table from '@tiptap/extension-table'
import TableRow from '@tiptap/extension-table-row'
import TableCell from '@tiptap/extension-table-cell'
import TableHeader from '@tiptap/extension-table-header'
import StarterKit from '@tiptap/starter-kit'

type MenuItem = {
	name: string;
	name_ru: string;
	html: string;
	orderPrior: number;
}

export default defineComponent({
	name: "App",
	components: {
		Drag,
		DropList,
		EditorContent
	},
	setup() {
		const context = useContext()
		const router = useRouter()
		const route = useRoute()
		const loadedItem = ref<MenuItem>()
		const ru_name = ref<string>()
		const currentPath = ref<string>()
		const items = ref(['a', 'b', 'c', 'd', 'e'])
		const editor = ref<Editor>()
		const raw = ref<string>("asdfsadjfh  psuadioffh  wopeahfnh n sadf ")
		const edited = ref<string>("cvdfvfvfvfvfv")
		const bolded = ref([])
		const editorRef = ref(null)
		const notificationSnackbar = ref(false)
		const notificationTimeout = ref(1500)
		const notificationText = ref("Успешно обновлено")

		onMounted(async () => {
			currentPath.value = route.value.params.index
			await context.$http.$get<MenuItem>( window.location.origin + `/api_v3/menu/` + currentPath.value).then(value => {
				ru_name.value = value.name_ru
				loadedItem.value = value
				editor.value = new Editor({
					content: (value.html != undefined) ? value.html : "",
					extensions: [
						StarterKit,
						Table.configure({
							resizable: true,
						}),
						TableRow,
						TableCell,
						TableHeader
					],
					onBlur: ({ editor, event }) => {
						console.log(editor.view)
						if((<any>editor.view).lastKeyCode==9 && (<any>editor.view).lastClick.time < (<any>editor.view).lastKeyCodeTime){
							(<any>event).path[0].focus()
						}
					}
				})
			})
		})

		const listCheck = async ():Promise<void> => {
			if(editor.value && ru_name.value){
				let item: MenuItem = {
					name: "name",
					name_ru: ru_name.value,
					html: editor.value.getHTML(),
					orderPrior: 0
				}
				await context.$http.$patch<string>(window.location.origin + `/api_v3/menu/` + currentPath.value, item).then(ansver => {
					if(ansver == "updated") {
						notificationSnackbar.value = true
						if(loadedItem.value && ru_name.value) loadedItem.value.name_ru = ru_name.value
					}
				})
			}
		}

		const onInsert = (event: any) => {
			items.value.splice(event.index, 0, event.data);
		}

		return {
			editorRef,
			items,
			raw,
			edited,
			editor,
			bolded,
			notificationSnackbar,
			notificationTimeout,
			notificationText,
			listCheck,
			onInsert,
			router,
			loadedItem,
			ru_name
		}
	}
})
</script>

<style scoped lang="scss">

#editor-toolbar {
	background: #1e1e1e;
}

::v-deep .ProseMirror:focus {
	outline: none;
}

/* Basic editor styles */
::v-deep .ProseMirror {
	margin: 1rem 0;

	> * + * {
		margin-top: 0.75em;
	}

	ul,
	ol {
		padding: 0 1rem;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.1;
	}

	code {
		background-color: rgba(#616161, 0.1);
		color: #616161;
	}

	pre {
		background: #0D0D0D;
		color: #FFF;
		font-family: 'JetBrainsMono', monospace;
		padding: 0.75rem 1rem;
		border-radius: 0.5rem;

		code {
			color: inherit;
			padding: 0;
			background: none;
			font-size: 0.8rem;
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}

	blockquote {
		padding-left: 1rem;
		border-left: 2px solid rgba(#0D0D0D, 0.1);
	}

	hr {
		border: none;
		border-top: 2px solid rgba(#0D0D0D, 0.1);
		margin: 2rem 0;
	}
}

/* Table-specific styling */
::v-deep .ProseMirror {
	table {
		border-collapse: collapse;
		table-layout: fixed;
		width: 100%;
		margin: 0;
		overflow: hidden;

		td,
		th {
			min-width: 1em;
			border: 2px solid #ced4da;
			padding: 3px 5px;
			vertical-align: top;
			box-sizing: border-box;
			position: relative;

			> * {
				margin-bottom: 0;
			}
		}

		th {
			font-weight: bold;
			text-align: left;
			background-color: #505050;
		}

		.selectedCell:after {
			z-index: 2;
			position: absolute;
			content: "";
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: rgba(200, 200, 255, 0.4);
			pointer-events: none;
		}

		.column-resize-handle {
			position: absolute;
			right: -2px;
			top: 0;
			bottom: -2px;
			width: 4px;
			background-color: #adf;
			pointer-events: none;
		}
	}
}

.tableWrapper {
	overflow-x: auto;
}

.resize-cursor {
	cursor: ew-resize;
	cursor: col-resize;
}
</style>
