<template>
	<client-only>
		<div id="app">
			<v-app id="inspire">
				<v-container class="wrapper">
					<drop-list
						:items="items"
						class="list"
						@insert="onInsert"
						@reorder="$event.apply(items)"
					>
						<template v-slot:item="{item}">
							<drag class="item" :key="item">
								<v-row
									align="center"
									class="spacer"
									no-gutters
								>
									<v-col cols="undefined"
									>
										<strong v-html="item.name"></strong>
										&nbsp;({{ item.name_ru }})
									</v-col>
									<v-col class="col-auto">
										<v-row class="d-flex flex-column">
											<v-col>
												<v-icon>mdi-arrow-up-bold</v-icon>
											</v-col>
											<v-col>
												<v-icon>mdi-arrow-down-bold</v-icon>
											</v-col>

										</v-row>
									</v-col>
									<v-col class="col-auto">
										<v-icon>mdi-arrow-up-down-bold</v-icon>
									</v-col>
								</v-row>
							</drag>
						</template>

						<!--									<template v-slot:feedback="{data}">-->
						<!--										<div class="item feedback" :key="data">{{data}}</div>-->
						<!--									</template>-->
					</drop-list>
				</v-container>
			</v-app>
		</div>
	</client-only>
</template>

<script lang="ts">
import { Drag, DropList } from "vue-easy-dnd"
import { Component } from 'vue'
import { onMounted, defineComponent, ref, reactive } from '@vue/composition-api'

export default defineComponent({
	name: "App",
	setup () {
		const counter = ref(0)
		const items = ref([
			{
				name: "delivery",
				name_ru: "Доставка",
				html: "asdfsadf",
				order: 0
			},
			{
				name: "prices",
				name_ru: "Цены",
				html: "asdfsadf",
				order: 1
			},
			{
				name: "somethink",
				name_ru: "Что-то",
				html: "asdfsadf",
				order: 2
			}
		])

		const increment = () => counter.value++
		const decrement = () => counter.value--

		const onInsert = (event: any): void => {
			items.value.splice(event.index, 0, event.data);
		}

		onMounted(() => {
			console.log('Component is mounted!')
		})

		return {
			counter,
			items,
			increment,
			decrement,
			onInsert
		}
	}
})
</script>

<!--
<script lang="ts">
import { Drag, DropList } from "vue-easy-dnd";
import Vue from 'vue'

export default {
	data () {
		return {
			counter: 0
		}
	},
	methods: {
		increment (): void {
			this.counter++
		},
		decrement (): void {
			this.counter&#45;&#45;
		}
	}
}
// type MenuItem = {
// 	name: string;
// 	name_ru: string;
// 	html: string;
// 	order: number;
// }

/*export default {
	/!*name: "App",
	components: {
		Drag,
		DropList
	},*!/
	data () {
		return {
			counter: 0,
			i/!*tems: [
				{
					name: "delivery",
					name_ru: "Доставка",
					html: "asdfsadf",
					order: 0
				},
				{
					name: "prices",
					name_ru: "Цены",
					html: "asdfsadf",
					order: 1
				},
				{
					name: "somethink",
					name_ru: "Что-то",
					html: "asdfsadf",
					order: 2
				}
			]*!/
		}
	},
	// async beforeMount() {
	// 	try {
	// 		const priceList: any = await this.$axios.get( window.location.origin + `/api_v3/menu`)
	// 	} catch (e) {
	// 		console.log(e)
	// 	}
	// },
	methods: {
		onInsert(event: any): void {
			this.items.splice(event.index, 0, event.data);
		},
		decrement (): void {
			this.counter&#45;&#45;
		}
	}
}*/
</script>

<style scoped lang="scss">
.wrapper {
	.list {
		border: 1px solid black;
		margin: 0px auto;

		.item {
			padding: 20px;
			margin: 10px;

			align-items: center;
			justify-content: center;

			&.feedback {
				background-color: rgb(255, 220, 220);
				border: 2px dashed black;
			}

			&.drag-image {
				background-color: rgb(220, 255, 220);
				transform: translate(-50%, -50%);
			}
		}
	}
}
</style>-->


