<template>
	<client-only>
		<div id="app">
			<v-app id="inspire">
				<v-container class="md-5">
					<v-row no-gutters>
						<v-col>
							<v-breadcrumbs
								:items="breadcrumbsItems"
								large
							></v-breadcrumbs>
						</v-col>
						<v-spacer></v-spacer>
						<v-col cols="auto" align-self="center" >
							<v-btn
								v-show="googleVisibility"
								large
								plain
								:color="'#00ff00'"
								@click="googleRemove"
							>
								Google <v-icon>mdi-delete</v-icon>
							</v-btn>
						</v-col>
						<v-divider v-show="googleVisibility" vertical class="mx-3"></v-divider>
						<v-col cols="auto" align-self="center" >
							<v-btn
								v-show="yandexVisibility"
								large
								plain
								:color="'#FF0000'"
								@click="yandexRemove"
							>
								Yandex
								<v-icon>mdi-delete</v-icon>
							</v-btn>
						</v-col>
						<v-divider v-show="yandexVisibility" vertical class="mx-3"></v-divider>
						<v-col cols="auto" align-self="center">
							<v-btn
								v-show="downloadVisibility"
								large
								plain
								color="grey lighten-5"
								@click="fileDownload"
							>
								Загрузить
								<v-icon>mdi-download</v-icon>
							</v-btn>
						</v-col>
						<v-divider v-show="downloadVisibility" vertical class="mx-3"></v-divider>
						<v-col cols="auto" align-self="center">
							<v-btn
								v-show="actionVisibility"
								large
								plain
								color="grey lighten-5"
								@click="actionOpen"
							>
								{{ actionText }}
								<v-icon>mdi-open-in-app</v-icon>
							</v-btn>
						</v-col>
						<v-divider v-show="actionVisibility" vertical class="mx-3" ></v-divider>
						<v-col cols="auto">
							<v-text-field
								v-model="itemSearch"
								append-icon="mdi-magnify"
								label="Search"
								single-line
								hide-details
							></v-text-field>
						</v-col>
						<v-divider
							vertical
							class="mx-3"
						></v-divider>
						<v-col cols="auto" align-self="center">
							<v-btn
								icon
								plain
								color="grey lighten-5"
								@click="dataSetup"
							>
								<v-icon>mdi-reload</v-icon>
							</v-btn>
						</v-col>
					</v-row>

					<v-row justify="center">
						<v-dialog
							v-model="deleteDialog"
							max-width="290"
						>
							<v-card>
								<v-card-title class="text-h5">
									Вы уверены?
								</v-card-title>
								<v-card-actions>
									<v-spacer></v-spacer>
									<v-btn
										color="red darken-1"
										text
										@click="deleteDialog = false"
									>
										Отмена
									</v-btn>

									<v-btn
										color="red darken-1"
										text
										@click="removeAccept"
									>
										Да
									</v-btn>
								</v-card-actions>
							</v-card>
						</v-dialog>
					</v-row>

					<v-row no-gutters>
						<v-col>
							<v-data-table
								v-model="selected"
								:headers="headers"
								:items="itemList"
								:search="itemSearch"
								item-key="name"
								show-select
								class="elevation-1"
								@click:row="selectItem"
								@dblclick:row="tableItemDbClick"
								no-data-text="Пустая директория"
								:loading="loading"
								loading-text="Загрузка... Подождите"
							>

								<template v-slot:item.name="{ item }">
									<v-row no-gutters align="start" justify="start">
										<v-col align-self="center" md="auto" cols="auto">
											<v-img
												height="60"
												width="60"
												:src="imgSrc[item.name]"
												:lazy-src="lazyImgSrc[item.name]"
											>
												<template v-slot:placeholder>
													<v-row
														class="fill-height ma-0"
														align="center"
														justify="center"
													>
														<v-progress-circular
															indeterminate
															color="grey lighten-5"
														></v-progress-circular>
													</v-row>
												</template>
											</v-img>
										</v-col>
										<v-col align-self="center" md="auto"
										>
											<div
												class="pl-2"
												v-text="item.name"
											></div>
										</v-col>
									</v-row>
								</template>
							</v-data-table>
						</v-col>
					</v-row>
				</v-container>

				<!--	PHOTO VIEW-->
				<v-dialog
					v-model="dialog"
					fullscreen
					transition="dialog-bottom-transition"
				>
					<v-container fill-height fluid class="x-ctn transparent">
						<v-row align="start" justify="center" class="x-row1 transparent">
							<v-toolbar
								dark
								color="primary"
							>
								<v-btn
									icon
									dark
									@click="dialog = false"
								>
									<v-icon>mdi-close</v-icon>
								</v-btn>
								<v-toolbar-title>Settings</v-toolbar-title>
								<v-spacer></v-spacer>
								<v-toolbar-items>
									<v-btn
										dark
										text
										@click="dialog = false"
									>
										Save
									</v-btn>
								</v-toolbar-items>
							</v-toolbar>
						</v-row>
						<v-row align="center" justify="center" class="x-row2 transparent">
							<v-img
								:src="overlayImage"
								contain
								class="x-photo-view"
							>
								<template v-slot:placeholder>
									<v-row
										class="fill-height ma-0"
										align="center"
										justify="center"
									>
										<v-progress-circular
											indeterminate
											color="grey lighten-5"
										></v-progress-circular>
									</v-row>
								</template>
							</v-img>

							<v-overlay
								:color="'#020202'"
								:opacity="0.95"
								:z-index="-1"
								:absolute="true"
								:value="true"
							>
							</v-overlay>
						</v-row>
					</v-container>
				</v-dialog>
			</v-app>
		</div>
	</client-only>
</template>

<script>
export default {
	data() {
		return {
			selected: [],
			itemSearch: '',
			imgSrc: {},
			lazyImgSrc: {},
			overlayImage: "",
			headers: [
				{
					text: 'Name',
					align: 'start',
					value: 'name',
					overlay: false,
				},
				{text: 'Size', value: 'size'},
				{text: 'Type', value: 'type'},
				{text: 'Last modified', value: 'modified'}
			],
			itemList: [],
			dialog: false,
			deleteDialog: false,
			googleDeleteAccept: false,
			yandexDeleteAccept: false,
			loading: true,
			breadcrumbsItems: [],
			yandexVisibility: false,
			googleVisibility: false,
			actionVisibility: false,
			downloadVisibility: false,
			actionText: '',
		}
	},
	mounted() {
		this.generateRoute()
	},
	watch: {
		$route() {
			this.generateRoute()
		},
		selected(val) {
			this.actionsUpdate()
		}
	},
	methods: {
		openItem(item){
			this.selected = []

			if (item.type === 'dir')
				this.$router.push({path: 'drive', query: {path: '/' + item.name}})
			else if (item.type === 'image') {
				this.overlayImage = window.location.origin + "/api_v3/photo/image-thumbnail" +
					"?path=" + encodeURIComponent(item.path) + "&name=" + encodeURIComponent(item.name)
				console.log(this.imgSrc[item.name])
				this.dialog = true
			}
		},
		actionOpen() {
			if(this.selected.length > 0)
				this.openItem(this.selected[0])
		},
		selectItem(data, yaDriveItem) {
			if (yaDriveItem.hasOwnProperty("isSelected") && yaDriveItem.isSelected) {
				const index = this.selected.indexOf(data);
				if (index > -1) {
					this.selected.splice(index, 1);
				}
			} else this.selected.push(data)
		},
		actionsUpdate() {
			let bufYandexVisibility = false
			let bufGoogleVisibility = false
			let bufDownloadVisibility = false
			let bufText = ''

			for (const element of this.selected) {
				if (element.yandexObject !== undefined) bufYandexVisibility = true
				if (element.googleObject !== undefined) bufGoogleVisibility = true

				if(bufText === '' && (element.type === 'image' || element.type === 'dir')) bufText = 'Открыть'
				if(!bufDownloadVisibility && element.type === 'image') bufDownloadVisibility = true
			}

			this.yandexVisibility = bufYandexVisibility
			this.googleVisibility = bufGoogleVisibility
			this.actionVisibility = (bufText !== '')
			this.downloadVisibility = bufDownloadVisibility
			this.actionText = bufText
		},
		tableItemDbClick(mouseEvent, item) {
			this.openItem(item.item)
		},
		yandexRemove() {
			this.yandexDeleteAccept = true
			this.deleteDialog = true
			//this.remove('yandex', this.googleVisibility)
		},
		googleRemove() {
			this.googleDeleteAccept = true
			this.deleteDialog = true
			//this.remove('google', this.yandexVisibility)
		},
		removeAccept() {
			if(this.yandexVisibility)	this.remove('yandex', this.googleVisibility)
			if(this.googleDeleteAccept)	this.remove('google', this.yandexVisibility)

			this.googleDeleteAccept = false
			this.yandexDeleteAccept = false
			this.deleteDialog = false
		},
		async remove(service, serviceUnified) {
			for (const element of this.selected) {
				const index = this.selected.indexOf(element);
				if (index > -1 && !serviceUnified) {
					this.selected.splice(index, 1);
				} else {
					if(service === 'yandex')
						this.selected[index].yandexObject = undefined
					if(service === 'google')
						this.selected[index].googleObject = undefined
				}
				const index2 = this.itemList.indexOf(element);
				if (index2 > -1 && !serviceUnified) {
					this.itemList.splice(index2, 1);
				} else {
					if(service === 'yandex')
						this.itemList[index2].yandexObject = undefined
					if(service === 'google')
						this.itemList[index2].googleObject = undefined
				}
				try {
					await this.$http.$delete(
						window.location.origin + `/api_v3/photo` +
						'?path=' + encodeURIComponent(this.$route.query.path) +
						'&name=' + encodeURIComponent(element.name) +
						'&type=' + service
					)
				} catch (error) {
					console.error('Fetch error:', error);
				}
			}
			this.actionsUpdate()
		},
		async dataSetup() {
			this.loading = true
			this.itemList = []
			try {
				const itemList = await this.$http.$get(window.location.origin + `/api_v3/photo` + '?path=' + encodeURIComponent(this.$route.query.path))

				const receiveDesserts = []
				const receiveImage = {}
				const lazyReceiveImage = {}
				itemList.forEach(item => {
					receiveDesserts.push(item)

					if (item.type === 'dir')
						receiveImage[item.name] = window.location.origin + "/photo/directory.png"
					else if (item.type === 'image')
						receiveImage[item.name] = window.location.origin + "/api_v3/photo/image-thumbnail" +
						"?path=" + encodeURIComponent(item.path) + "&name=" + encodeURIComponent(item.name) + "&size=120x120"
					else receiveImage[item.name] = window.location.origin + "/photo/file.png"

					if (item.type === 'image')
						lazyReceiveImage[item.name] = window.location.origin + "/api_v3/photo/image-thumbnail" +
						"?path=" + encodeURIComponent(item.path) + "&name=" + encodeURIComponent(item.name) + "&size=10x10"
				})

				this.itemList = receiveDesserts;
				this.imgSrc = {...this.imgSrc, ...receiveImage};
				this.lazyImgSrc = {...this.lazyImgSrc, ...lazyReceiveImage};
			} catch (e) {
				console.log(e)
			}

			this.loading = false
		},
		generateRoute() {
			if (!this.$route.query.hasOwnProperty('path')) {
				this.$router.push({path: 'drive', query: {path: '/'}})
			} else {
				this.generateBreadcrumbs(this.$route.query.path)
				this.dataSetup()
			}
		},
		generateBreadcrumb(text, path) {
			return {
				text: text,
				link: true,
				exact: true,
				disabled: false,
				to: {
					name: 'drive',
					query: {
						path: path
					}
				}
			}
		},
		generateBreadcrumbs(path) {
			const newBreadcrumbsItems = []

			let pathBuf = '/'
			newBreadcrumbsItems.push(this.generateBreadcrumb("Drive", pathBuf))

			if (path !== '/') {
				const elements = path.split('/')
				console.log('\n\n\n\n')
				console.log(elements)
				elements.shift()
				while (elements.length > 0) {
					const elem = elements.shift()
					console.log(elem)
					pathBuf += elem + ((elements.length > 0) ? '/' : '')
					console.log(pathBuf)
					newBreadcrumbsItems.push(this.generateBreadcrumb(elem, pathBuf))
				}
			}

			this.breadcrumbsItems = newBreadcrumbsItems
		},
		download_files(files) {
			function download_next(files, i) {
				if (i >= files.length) {
					return;
				}

				let a = document.createElement('a');
				a.href = files[i].download;
				a.target = '_parent';
				if ('download' in a) {
					a.download = files[i].filename;
				}
				(document.body || document.documentElement).appendChild(a);

				a.click();
				a.parentNode.removeChild(a);

				setTimeout(function() {
					download_next(files,i + 1);
				}, 800);
			}

			download_next(files,0);
		},
		fileDownload(){
			let files = []

			this.selected.forEach(value => {
				if(value.type === 'image') files.push({
					download: window.location.origin + "/api_v3/photo/image-response" +
						"?path=" + encodeURIComponent(value.path) + "&name=" + encodeURIComponent(value.name),
					filename: value.name + ".jpeg"
				})
			})

			this.download_files(files)
		}
	}
}
</script>

<style lang="sass">

$toolbar-height: 64px

.x-input-select
	width: 100px
	flex: unset
	background-color: bisque
	margin: 0 5px

.x-row1
	height: $toolbar-height

.x-row2
	height: calc(100% - #{$toolbar-height})

.x-photo-view
	max-width: 100%
	max-height: calc(100% - #{$toolbar-height})

</style>
