<template>
	<client-only>
		<div>
			<v-data-table
				:headers="tableHeader"
				:items="dataTable"
				hide-default-footer
			>
				<template v-slot:body="{ items, headers }">
					<tbody>
					<tr v-for="(item,idx,k) in items" :key="idx">
						<td v-for="(header,key) in headers" :key="key">
							<div v-if="header.value === 'size'"> {{ item[header.value] }}</div>
							<v-edit-dialog
								v-else
								:return-value.sync="item[header.value]"
								@save="save"
								@cancel="cancel"
								@open="open"
								@close="close"
								large
							> {{ item[header.value] }}
								<template v-slot:input>
									<v-text-field
										v-model="item[header.value]"
										label="Edit"
										single-line
										:rules="rules"
									></v-text-field>
								</template>
							</v-edit-dialog>

						</td>
					</tr>
					</tbody>
				</template>
			</v-data-table>

			<v-snackbar
				v-model="snack"
				:timeout="3000"
				:color="snackColor"
			>
				{{ snackText }}

				<template v-slot:action="{ attrs }">
					<v-btn
						v-bind="attrs"
						text
						@click="snack = false"
					>
						Close
					</v-btn>
				</template>
			</v-snackbar>
		</div>
	</client-only>
</template>

<script>
export default {
	data() {
		return {
			snack: false,
			snackColor: '',
			snackText: '',
			rules: [
				v => new RegExp(/^\d*\.?\d*$/g).test(v) || 'Неверное значение',
				v => (parseFloat(v) > 0 || v === "") || 'Значение должно быть больше 0',
			],
			pagination: {},
			postPriceList: [],
			tableHeader: [{text: '', value: 'size'}],
			dataTable: [],
			url: ''
		}
	},
	// async fetch() {
	//
	// },
	async beforeMount() {
		try {
			const priceList = await this.$http.$get( window.location.origin + `/api_v3/price`)
			const qualityList = await this.$http.$get( window.location.origin + `/api_v3/quality`)
			const sizeList = await this.$http.$get( window.location.origin + `/api_v3/size`)

			const defaultData = {size: ''}

			for (const quality of qualityList) {
				const header = {}
				header["text"] = quality.name
				header["value"] = quality.text
				defaultData[quality.text] = ''
				this.tableHeader.push(header)
			}

			for (const size of sizeList) {
				const data = JSON.parse(JSON.stringify(defaultData));
				data["size"] = size.width + "x" + size.height
				this.dataTable.push(data)
			}

			for (const price of priceList) {
				for (const data of this.dataTable) {
					for (const priceSize of price.sizePrices) {
						if (data.size === priceSize.size.width + "x" + priceSize.size.height)
							data[price.quality.text] = priceSize.price
					}
				}
			}
		} catch (e) {
			console.log(e)
		}
	},
	methods: {
		async post(data) {
			await this.$http.$post( window.location.origin + '/api_v3/price', data)
		},
		save() {
			try {
				const defaultQuality = {order: '', name: '', text: ''}
				const defaultSizePrice = {size: {width: '', height: ''}, price: 0.0}
				const priceList = []


				for (const quality of this.tableHeader) {
					if (quality.value !== 'size') {
						const qualityOut = JSON.parse(JSON.stringify(defaultQuality));
						qualityOut.order = priceList.length
						qualityOut.name = quality.text
						qualityOut.text = quality.value

						const sizePrices = []
						for (const price of this.dataTable) {
							const sizePrice = JSON.parse(JSON.stringify(defaultSizePrice))
							const size = price.size.split("x")
							sizePrice.size.width = size[0]
							sizePrice.size.height = size[1]
							for (const property in price) {
								if (property === quality.value && price.hasOwnProperty(property)) {
									sizePrice.price = new RegExp(/^\d*\.?\d*$/g).test(price[property]) ? parseFloat(price[property]) : 0
								}
							}
							if (sizePrice.price > 0)
								sizePrices.push(sizePrice)
						}
						priceList.push({quality: qualityOut, sizePrices: sizePrices})
					}
				}
				this.post(priceList)
			} catch (e) {
			}
		},
		cancel() {
			this.snack = true
			this.snackColor = 'error'
			this.snackText = 'Canceled'
		},
		open() {
			this.snack = true
			this.snackColor = 'info'
			this.snackText = 'Dialog opened'
		},
		close() {
			console.log('Dialog closed')
		},
	},
}
</script>
