<template>
	<client-only>
		<v-row justify="center">
			<v-col md="8" lg="6" xl="4">
				<v-card cols="1" class="pa-2">
					<v-card-text>
						<v-container>
							<p class="display-1 text-center">Вход</p>
						</v-container>
						<v-container v-if="isLoginError">
							<v-alert
								outlined
								text
								type="error"
							> Неверный логин или пароль
							</v-alert>
						</v-container>

						<v-form>
							<v-container fluid>
								<v-row>
									<v-col>
										<v-text-field
											outlined
											label="Логин"
											type="text"
											autofocus="autofocus"
											v-model="username"
											v-on:keyup.13="submitData"
										></v-text-field>
										<v-text-field
											outlined
											label="Пароль"
											:append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
											:type="showPassword ? 'text' : 'password'"
											v-model="password"
											@click:append="showPassword = !showPassword"
											v-on:keyup.13="submitData"
										></v-text-field>
										<v-btn
											block
											color="primary"
											elevation="2"
											large
											@click="submitData"
										>
											Submit
										</v-btn>
									</v-col>
								</v-row>
							</v-container>
						</v-form>
					</v-card-text>
				</v-card>
			</v-col>
		</v-row>
	</client-only>
</template>

<script>
import Logo from '~/components/Logo.vue'
import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
	layout: "securityForm",
	components: {
		Logo,
		VuetifyLogo
	},
	methods: {
		async submitData() {
			await this.$axios.$post(
				'//' + window.location.host + '/login',
				"username=" + this.username +
				"&password=" + this.password,
			).then(response => {
					if (
						response != null &&
						response.hasOwnProperty("login") &&
						response.login
					) this.$router.push('/')
					else this.isLoginError = true
				}
			).catch(() => {
				this.isLoginError = true
			})
		}
	},
	data() {
		return {
			isLoginError: false,
			showPassword: false,
			username: '',
			password: '',
			response1: null
		}
	}
}
</script>

<style>
html {
	overflow: hidden;
}
</style>
